In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\neela\Downloads\Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
df.drop(['Serial No.'], axis=1, inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
X=df.drop(['Chance of Admit'], axis=1)
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [4]:
y = df['Chance of Admit']
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [5]:
X.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

In [6]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler(feature_range=(0,1))

X[X.columns] = mms.fit_transform(X[X.columns])
X.head()

   GRE Score  TOEFL Score  University Rating    SOP   LOR       CGPA  Research
0       0.94     0.928571               0.75  0.875  0.875  0.913462       1.0
1       0.68     0.535714               0.75  0.750  0.875  0.663462       1.0
2       0.52     0.428571               0.50  0.500  0.625  0.384615       1.0
3       0.64     0.642857               0.50  0.625  0.375  0.599359       1.0
4       0.48     0.392857               0.25  0.250  0.500  0.451923       0.0

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.20)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(320, 7)
(80, 7)
(320,)
(80,)

In [8]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train,y_train)

LinearRegression()

In [9]:
print('Score of ML model using Linear Regression is')
lr.score(X_test,y_test)

Score of ML model using Linear Regression is

0.7738866572433623

In [18]:
y_predict = lr.predict(X_test)

df_predict = pd.DataFrame({'Actual Data':y_test, 'Predicted Data using Linear R':y_predict})
df_predict.head()

     Actual Data  Predicted Data using Linear R
346         0.47                       0.520270
24          0.97                       0.961082
198         0.70                       0.687643
59          0.42                       0.625829
393         0.77                       0.703586

In [17]:
df_predict['Error'] = df_predict['Actual Data'] - df_predict['Predicted Data using Linear R']
df_predict.head()

,Actual Data,Predicted Data using Linear R,Error,using Random forest Regressor
346,0.47,0.520270,-0.050270,0.4772
24,0.97,0.961082,0.008918,0.9608
198,0.70,0.687643,0.012357,0.7323
59,0.42,0.625829,-0.205829,0.6370
393,0.77,0.703586,0.066414,0.6938

In [12]:
import numpy as np

np.mean(abs(df_predict['Error']))

0.052050907028136376

In [13]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_predict)
print('Mean Absolutr Error of the ML Model:',mae)

Mean Absolutr Error of the ML Model: 0.052050907028136376

In [14]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_predict)
print('Mean Squared Error of the ML Model:',mse)

# rmse = root mean squared error
rmse = np.sqrt(mse)
print('Root Mean Square Error of the ML Model:',rmse)

Mean Squared Error of the ML Model: 0.00525289206089416
Root Mean Square Error of the ML Model: 0.07247683809945188

In [15]:
#Applying  Random Forest Regressor

from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(n_estimators = 100, random_state = 42)

rfr.fit(X_train,y_train)

score_rfr=rfr.score(X_test, y_test)
print('Score of Randam Forest Regressor:', score_rfr)

Score of Randam Forest Regressor: 0.7552436180008193

In [20]:
y_predict_rfr = rfr.predict(X_test)
df_predict['using Random forest Regressor'] = y_predict_rfr
print(df_predict.head())


mse_rfc=mean_squared_error(y_test, y_predict_rfr )
print("Mean squared error of Random Forest Regressor:", mse_rfc)
print("Root Mean squared error of Random Forest Regressor:", np.sqrt(mse_rfc))

     Actual Data  Predicted Data using Linear R  using Random forest Regressor
346         0.47                       0.520270                         0.4772
24          0.97                       0.961082                         0.9608
198         0.70                       0.687643                         0.7323
59          0.42                       0.625829                         0.6370
393         0.77                       0.703586                         0.6938
Mean squared error of Random Forest Regressor: 0.005685992874999997
Root Mean squared error of Random Forest Regressor: 0.07540552284150012

In [21]:
#applying Decision Tree Regressor

from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state = 42)
dtr.fit(X_train,y_train)

score_dtr=dtr.score(X_test, y_test)
print('Score of the ML Model using Decision Tree Regressor:',score_dtr)

Score of the ML Model using Decision Tree Regressor: 0.6305082260614918

In [22]:
y_predict_dtr = dtr.predict(X_test)
df_predict['using Decision Tree Regression'] = y_predict_dtr
print(df_predict.head())


mse_dtr=mean_squared_error(y_test, y_predict_dtr )
print("Mean squared error of Decision Tree Regressor:", mse_dtr)
print("Root Mean squared error of Decision Tree Regressor:", np.sqrt(mse_dtr))

     Actual Data  Predicted Data using Linear R  \
346         0.47                       0.520270
24          0.97                       0.961082
198         0.70                       0.687643
59          0.42                       0.625829
393         0.77                       0.703586

     using Random forest Regressor  using Decision Tree Regression
346                         0.4772                            0.46
24                          0.9608                            0.96
198                         0.7323                            0.74
59                          0.6370                            0.65
393                         0.6938                            0.67
Mean squared error of Decision Tree Regressor: 0.008583750000000001
Root Mean squared error of Decision Tree Regressor: 0.09264852940009356

In [23]:
#         score		RMSE
#LR      0.8019		0.0606

#RFC    0.7941		0.0618

#DTC     0.5665		0.0896

#since, Linear Regression has maximum score and minimum RMSE
#We can say that the LR algorithm is best for this problem
#we can now implement the LR algorithm on new data
X.columns.tolist()

['GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research']

In [29]:
# Inputing New Data to be evaluated by ML Model

gre=int(input('Enter value of GRE Score between 290 to 340:'))
toefl=int(input("Enter value of TOEFL score between 90 to 120:"))
uni_rating=int(input("Enter University rating between 1 to 5:"))
sop=int(input('Enter SOP between 1 to 5:'))
lor=int(input('Enter LOR between 1 to 5:'))
cgpa=float(input('Enter CGPA between 6.8 to 9.2:'))
research=int(input('Enter value of research 0 for no and 1 for yes:'))

data = [[gre, toefl, uni_rating, sop, lor, cgpa, research]]

newdf = pd.DataFrame(data, columns=['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research'])
newdf

Enter value of GRE Score between 290 to 340:340
Enter value of TOEFL score between 90 to 120:120
Enter University rating between 1 to 5:5
Enter SOP between 1 to 5:5
Enter LOR between 1 to 5:5
Enter CGPA between 6.8 to 9.2:9.2
Enter value of research 0 for no and 1 for yes:1

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        340          120                  5    5     5   9.2         1

In [30]:
# Scaling the new data

newdf[newdf.columns] = mms.transform(newdf[newdf.columns])
newdf

   GRE Score  TOEFL Score  University Rating  SOP  LOR       CGPA  Research
0        1.0          1.0                1.0  1.0   1.0  0.769231       1.0

In [31]:
new_predict = lr.predict(newdf)
percent = new_predict * 100
print('The chance of Admission is',percent)

if new_predict >= 0.85000:
    print('Congrats! You`ve high chance of getting Admission')
else:
    print('Sorry!! Your chance of getting admission is low')

The chance of Admission is [92.6658204]
Congrats! You`ve high chance of getting Admission